<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello Vue</h1>

    <div id="app">
      <!-- これはできない -->
      <a href="url">best website ever</a><br />

      <!-- これはできない -->
      <a href="{{url}}">best website ever</a><br />

      <!-- Vueでアンカーにapp.jsからの値を入れる場合このようにバインドして使用しなければできない -->
      <a v-bind:href="url">best website ever</a><br />

      <!-- v-bind:hrefの略で:hrefでも同様の動作 -->
      <a :href="url">best website ever</a>

      <!-- これはダメ、コンパイルできないこのDOM以降の画面が真っ白になる -->
      <!-- <a v-bind:href="{{ url }} ">best web site</a> -->

      <div v-if="showBooks">
        <!-- app.jsないの値出力して表示 -->
        <p>{{title}} - {{ author }} - {{ age }}</p>
        <p>{{ books[0].title}} - {{ books[0].author }}</p>

        <!-- V4[mapで配列内のデータの表示と同じようなことを実行] -->
        <ul>
          <!-- item in book = itemはbooksから渡ってくるobjを格納する変数なのでbookやvalueなどの変数名でも可能 -->
          <!-- item in book = in はitemをいれる公文なので変えるの不可 -->
          <!-- item in book = booksはapp.jsに記述している配列のデータ名 -->
          <li v-for="item in books">
            <!-- item.titleのitemは、item in booksのitem部分と同じ  -->
            <img width="100" height="80" :src="item.img" :alt="item.title" />
            <h3>{{ item.title }}</h3>
            <p>{{ item.author }}</p>
          </li>
        </ul>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <div v-show="showBooks">curretly showing books</div>

      <br />
      <!-- mouse events -->
      <!-- v-on:mouseover or @mouseover  ※マウスがDOM要素ないに入った際に発火される,eventだけを引数で受け取る場合eでいいが、
        eventと他の引数を受け取る場合は$eventで明示的に受け取る必要がある-->
      <div class="box" @mouseover="handleEvent($event,5)">
        mouseover (enter)
      </div>
      <!-- v-on:mouseleave or @mouseleave　※マウスがDOM要素から外れた時に発火される -->
      <div class="box" @mouseleave="handleEvent">mouseleave</div>
      <!-- v-on:dblclick or @dblclick ※ダブルクリック時に発火 -->
      <div class="box" @dblclick="handleEvent">double click</div>
      <!-- mouseのDOM要素ないのX軸とY軸のイベントを受け取り表示する -->
      <div class="box" @mousemove="handleMousemove">position - {{x}} {{y}}</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
